/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
.feature{
  text-align: center;
}


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #inputSearch{
     width: 200px;
   }
  #account{
    margin-top: 10px;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{
  margin-top: 80px;
}
#myCarousel .item{
  height: 400px;
}
#slide1 {
	background: url('../../images/carousel_medium_01.jpg') center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_medium_02.jpg') center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_medium_03.jpg') center no-repeat ;
}



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
  margin-top: 20px 0;
  background-color: #F0F0F0 ;
  display: none;
}
.header{
  background-color: #D8D8D8 ;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item{
    height: 400px;
  }
  #slide1 {
  	background: url('../../images/carousel_small_01.jpg') center no-repeat;
  }

  #slide2 {
  	background: url('../../images/carousel_small_02.jpg') center no-repeat;
  }

  #slide3 {
  	background: url('../../images/carousel_small_03.jpg') center no-repeat ;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
    height: 400px;
  }
  #slide1 {
  	background: url('../../images/carousel_large_01.jpg') center no-repeat;
  }

  #slide2 {
  	background: url('../../images/carousel_large_02.jpg') center no-repeat;
  }

  #slide3 {
  	background: url('../../images/carousel_large_03.jpg') center no-repeat ;
  }
}
